2. 홀수만 담기

In [3]:
odd_list = list(range(1, 51, 2))
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

3. Dictionary 만들기

In [4]:
student_info = {"김채은": 24, "신누리": 24, "김한빈": 28, "황경서": 27, "이종하": 27}
student_info

{'김채은': 24, '신누리': 24, '김한빈': 28, '황경서': 27, '이종하': 27}

In [5]:
n = 5; m = 9
for i in range(n):
    for j in range(m):
        print("*", end ="")
    print()

*********
*********
*********
*********
*********

In [6]:
temp = 36.5
print("입실 불가") if temp >= 37.5 else print("입실 가능")

입실 가능

In [7]:
scores = [80, 89, 99, 83]
print(f"평균 : {sum(scores)/len(scores)}")

평균 : 87.75

In [8]:
N = int(input())
for i in range(1, N+1):
    if N%i == 0 : 
        print(i, end =" ")

10
1 2 5 10

In [20]:
x = input().split()
print(list(map(int, x)))

85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24
[85, 72, 38, 80, 69, 65, 68, 96, 22, 49, 67, 51, 61, 63, 87, 66, 24, 80, 83, 71, 60, 64, 52, 90, 60, 49, 31, 23, 99, 94, 11, 25, 24]

In [24]:
numbers = [85, 72, 38, 80, 69, 65, 68, 96, 22, 49, 67, 51, 61, 63, 87, 66, 24, 80, 83, 71, 60, 64, 52, 90, 60, 49, 31, 23, 99, 94, 11, 25, 24]
sorted(numbers)[len(numbers)//2]

64

In [25]:
number = int(input())
for i in range(1, number+1):
    for j in range(1, i+1):
        print(j, end = " ")
    print()

4
1
1 2
1 2 3
1 2 3 4

In [26]:
for i in range(2, 10) :
    print(f"------ [{i} 단] ------")
    for j in range(1, 10) :
        print(f'{i} X {j} = {i*j}')

------ [2 단] ------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------ [3 단] ------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------ [4 단] ------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------ [5 단] ------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------ [6 단] ------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------ [7 단] ------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------ [8 단] ------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------ [9 단] ------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81